<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link href="styleJose.css" rel="stylesheet" />
  <script src="FuelQuote.js"></script>
  <script src="pricing.js"></script>
  <title>Fuel Quote</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-warning navbar-light py-3 fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand"><strong>Fuel Resource</strong></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/fuelquotehistory" class="nav-link">History</a>
            </li>
          </ul>

          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="btn btn-outline-dark" href="/signin">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--
    <nav>
      <label class="logo">Fuel Quote</label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">History</a></li>
      </ul>
    </nav>
    -->
  <form name = "price" class="mt-5">
    <section class="bg-light text-dark pt-5 text-center">
      <div class="conrainer">
        <div class="">
          <div>
            <h1> <span class="text-success">Fuel Order</span></h1>
          </div>
          <strong>Gallons Requested:</strong><br />

          <input id="inputGallon" type="text" name="gallonsRequested"
            placeholder="Enter amount of gallons" /><br /><br />
          <p id="DeliveryAddy"><strong>Delivery Address:</strong><br /><br /></p>

          <input id="DeliveryAddy" type="text" name="addressRequested"
            placeholder="Enter address" /><br /><br />

          <address>
            <select name="State">
              <option value=""></option>
                    <option value="Alabama">AL</option>
                    <option value="Alaska">AK</option>
                    <option value="American Samoa">AS</option>
                    <option value="Arizona">AZ</option>
                    <option value="Arkansas">AR</option>
                    <option value="California">CA</option>
                    <option value="Colorado">CO</option>
                    <option value="Connecticut">CT</option>
                    <option value="Delaware">DE</option>
                    <option value="District Of Columbia">DC</option>
                    <option value="Federated States Of Micronesia">FM</option>
                    <option value="Florida">FL</option>
                    <option value="Georgia">GA</option>
                    <option value="Guam">GU</option>
                    <option value="Hawaii">HI</option>
                    <option value="Idaho">ID</option>
                    <option value="Illinois">IL</option>
                    <option value="Indiana">IN</option>
                    <option value="Iowa">IA</option>
                    <option value="Kansas">KS</option>
                    <option value="Kentucky">KY</option>
                    <option value="Louisiana">LA</option>
                    <option value="Maine">ME</option>
                    <option value="Marshall Islands">MH</option>
                    <option value="Maryland">MD</option>
                    <option value="Massachusetts">MA</option>
                    <option value="Michigan">MI</option>
                    <option value="Minnesota">MN</option>
                    <option value="Mississippi">MS</option>
                    <option value="Missouri">MO</option>
                    <option value="Montana">MT</option>
                    <option value="Nebraska">NE</option>
                    <option value="Nevada">NV</option>
                    <option value="New Hampshire">NH</option>
                    <option value="New Jersey">NJ</option>
                    <option value="New Mexico">NM</option>
                    <option value="New York">NY</option>
                    <option value="North Carolina">NC</option>
                    <option value="North Dakota">ND</option>
                    <option value="Northern Mariana Islands">MP</option>
                    <option value="Ohio">OH</option>
                    <option value="Oklahoma">OK</option>
                    <option value="Oregon">OR</option>
                    <option value="Palau">PW</option>
                    <option value="Pennsylvania">PA</option>
                    <option value="Puerto Rico">PR</option>
                    <option value="Rhode Island">RI</option>
                    <option value="South Carolina">SC</option>
                    <option value="South Dakota">SD</option>
                    <option value="Tennessee">TN</option>
                    <option value="Texas">TX</option>
                    <option value="Utah">UT</option>
                    <option value="Vermont">VT</option>
                    <option value="Virgin Islands">VI</option>
                    <option value="Virginia">VA</option>
                    <option value="Washington">WA</option>
                    <option value="West Virginia">WV</option>
                    <option value="Wisconsin">WI</option>
                    <option value="Wyoming">WY</option>
            </select>
          </address>
          <p id="DeliveryDate"><strong>Delivery Date: </strong><br /><br /></p>
          <select name="Month">
            <option value="Month">Month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <select name="Day">
            <option value="Day">Day</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select name="Year">
            <option value="2022">2022</option>
            <option value="2023">2023</option>
          </select><br /><br />
          <p id="pricePer">Price per gallon $1.50</p>
          Total After Tax:<input type="text" name="totalprice"> 
          <p id="Total"><strong>Total After Tax: $29.9</strong></p>
          <br />
          <fieldset>
            <legend>Price History</legend>
            <div id="output"></div>
          </fieldset>
          <button type="submit" onclick="sumValues();">Place Order</button>
          <button type="submit" onclick="view();">View History</button>
  </form>

  <script type ="text/javascript">
    function sumValues()
    {
      var galprice,locfactor,hisfactor,gallnum,gallnumTax,cumprofit, totalprice;
      gallnum = Number(document.price.gallonsRequested.value);
      galprice = 1.50;
      locfactor = 0.04;
      if (document.price.State.value == 'Texas') {
        locfactor = 0.02;
      }
      hisfactor = 0;
      //if (has history) {
      //  hisfactor = 1;
      // }
      gallnumTax = 0.02;
      if (gallnum>1000) {
        gallnumTax = 0.03;
      }
      cumprofit = 0.1;
      sugestedprice = ((locfactor - hisfactor + gallnumTax + cumprofit) *  galprice) + galprice;
      totalprice = gallnum * sugestedprice;
      document.price.totalprice.value = totalprice;
    }

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="FuelQuote.js"></script>
</body>

</html>