<html>

<head>
    <title>fgfdg</title>
    <link rel="stylesheet" href="style_homepage.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="fuelResourceLogo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/signin">Login</a></li>
                    <li><a href="/signup">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1>Fuel energy price data</h1>
            <p>We predict the rate of the fuel based on the following criteria:<br>
                - Client Location (in-state or out-of-state)<br>
                - Client history (existing customer with the previous purchase or new)<br>
                - Gallons requested<br>
                - Company profit margin (%)<br>
                in over 50 states.<br>
                <br>
                The data are used by our clients to stay informed of energy costs across country.<br> We also monitor
                changes to taxes and regulations.
            </p><br>
            <a href="" class="btn">Register Now</a>
        </div>
    </div>
    <section class="footer">
        <p>Contact us: fuel.resource@gmail.com</p>
        <p>Copyright ©  2022 Fuel Resource America, Inc.</p>
    </section>


</body>

</html>